
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; 
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 100px; 
  animation: zoomInOut 2s infinite; 
}

.loading-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: rgb(14, 120, 207);
}

.word {
  opacity: 0;
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0 5px;
  animation: fadeInWord 1.5s ease forwards;
}

.word:nth-child(1) {
  animation-delay: 0.5s; 
}

.word:nth-child(2) {
  animation-delay: 1.0s;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInWord {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
